@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Quicksand:wght@700&family=Sniglet:wght@800&display=swap");
@import "./variables.scss";
//SECTION-MODULES//
@import "./modules/header.scss";
@import "./modules/hero.scss";
@import "./modules/banner.scss";
///////////////////

@font-face {
    font-family: "Lato";
    src: url("../media/fonts/Lato-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

:root {
    font-size: 10px;
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
body {
    font-family: $mainFont;
    background-color: lightcoral;
}
.container {
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.p-items {
    background-color: #262a32;
    &-title {
        position: relative;
        text-align: center;
        color: white;
        font-weight: 900;
        font-size: 2.4rem;
        &:after,
        &:before {
            content: "";
            position: absolute;
            height: 0.2rem;
            width: 40%;
            top: 50%;
            transform: translateY(-50%);
            background-color: #3c4047;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
    }
    &-load {
        display: none;
    }
}

@media (min-width: 128rem) {
    .p-items {
        border-top: 1px solid #9a9c9f;
        padding-top: 9rem;
        padding-bottom: 5.6rem;
        &-title {
            margin-bottom: 1rem;
        }
        &-load {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &__item {
                margin-top: 3rem;
                position: relative;
                flex-basis: 27rem;
                background-color: white;
                border-radius: 2rem;
                padding-bottom: 0.8rem;
                & > img {
                    border-radius: 1rem 1rem 0 0;
                    width: 100%;
                    min-height: 26rem;
                }
                .p-items-product {
                    &:hover {
                    }
                }
            }
            .info-card {
                overflow: hidden;
                img {
                    height: 110%;
                    width: 110%;
                }
            }
        }
        &-backdrop {
            display: none;
            position: absolute;
            border-radius: 1rem;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba($color: #34c97a, $alpha: 0.7);
        }
        &-control {
            display: flex;
            visibility: hidden;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            & > a {
                img {
                    cursor: pointer;

                    width: 9rem;
                    height: 9rem;
                }
                &:last-child img {
                    margin-left: 2rem;
                }
            }
        }
        &-product {
            padding-top: 2rem;
            font-size: 1.6rem;
            line-height: 1.8rem;
            text-align: center;
            color: #2c3e50;
            cursor: pointer;
            span {
                display: block;
            }
            &:hover ~ .p-items-backdrop {
                display: block;
            }
        }
        &-buy {
            text-align: center;
            margin-top: 0.8rem;
            .price {
                padding: 1.2rem 1.7rem 1.4rem 2.3rem;
                display: inline-block;
                font-size: 1.4rem;
                text-align: center;
                color: #011847;
                border: 1px solid transparent;
                border-right: none;
            }
            .buy-btn {
                display: none;
                padding: 1.4rem 1.7rem 1.4rem 2.3rem;
                border: 1px solid #e7e7e7;
                font-size: 1.4rem;
                text-align: center;
                text-transform: uppercase;
                background-color: transparent;
                color: black;
                border-radius: 0 1rem 1rem 0;
                cursor: pointer;
                &:hover {
                    background-color: #24c36c;
                    color: white;
                }
            }
            &:hover {
                .price {
                    border: 1px solid #e7e7e7;
                    border-right: none;
                    color: #24c36c;
                    border-radius: 1rem 0 0 1rem;
                }
                .buy-btn {
                    display: inline-block;
                }
            }
        }
        .load-more {
            background-color: transparent;
            padding: 1.2rem 3.4rem;
        }
        .p-items-slider {
            display: none;
        }
    }
}
