@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Quicksand:wght@700&family=Sniglet:wght@800&display=swap");
@import "./variables.scss";
//SECTION-MODULES//
@import "./modules/header.scss";
@import "./modules/hero.scss";
@import "./modules/banner.scss";
@import "./modules/p-items.scss";
@import "./modules/about.scss";
@import "./modules/featured.scss";
///////////////////

@font-face {
    font-family: "Lato";
    src: url("../media/fonts/Lato-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

:root {
    font-size: 10px;
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
body {
    font-family: $mainFont;
    background-color: lightcoral;
}
.container {
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.dropdown-menu {
    z-index: 89;
    background-color: #262a32;
    position: absolute;
    width: 100vw;
    top: 4.8rem;
    padding: 6rem 0 5rem;
    &__inner {
        display: flex;
        justify-content: space-between;
        .dropdown-title {
            font-weight: 900;
            text-transform: uppercase;
            font-size: 1.4rem;
            color: white;
            margin-bottom: 3.2rem;
        }
        .lists {
            display: flex;
            li {
                margin-right: 2rem;
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 1.6rem;
                    line-height: 3.1rem;
                    &:hover {
                        color: #84bc22;
                    }
                }
            }
        }
    }
}

.footer {
    background-color: white;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &-socials {
        a {
            text-decoration: none;
            margin-left: 2.4rem;
            &:first-child {
                margin-left: 0;
            }
        }
        i {
            font-size: 2.4rem;
            color: #868380;
            &:hover {
                color: #6d9826;
            }
        }
    }
}
