.cookie {
    display: none;
}

.login {
    position: absolute;
    display: none;
}

@media (min-width: 128rem) {
    .cookie {
        position: fixed;
        display: block;
        width: 117rem;
        margin: 0 auto;
        border-radius: 0.5rem;
        border: 1px solid #e2e3e4;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
        &__backdrop {
            position: absolute;
            top: -100vw;
            right: -100vw;
            left: -100vw;
            bottom: -100vw;
            z-index: 4;
            background-color: rgba($color: #000000, $alpha: 0.35);
        }
        &__inner {
            background-color: #ffffff;
            width: 100%;
            position: fixed;
            padding-left: 2.4rem;
            padding-top: 2.8rem;
            padding-bottom: 2.2rem;
            z-index: 100;
        }
        &-title {
            font-size: 1.6rem;
            line-height: 2.4rem;
            font-weight: 900;
            color: #84bc22;
        }
        &-content {
            font-size: 1.4rem;
            line-height: 2.4rem;
            color: #45413e;
            max-width: 80rem;
            a {
                text-decoration: none;
                color: #84bc22;
            }
        }
        &-accept {
            position: absolute;
            bottom: 1.8rem;
            right: 2.6rem;
            color: white;
            background-color: #84bc22;
            outline: none;
            font-size: 1.4rem;
            text-transform: uppercase;
            border: 1px solid #b5d77a;
            padding: 1.2rem 5.6rem 1.5rem 4.7rem;
            border-radius: 2rem;
            cursor: pointer;
        }
        &-close {
            position: absolute;
            top: 0.9rem;
            right: 1rem;
            border: none;
            outline: none;
            font-size: 1.7rem;
            background-color: transparent;
            cursor: pointer;
        }
    }
    .login {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &__backdrop {
            position: absolute;
            top: -100vw;
            right: -100vw;
            left: -100vw;
            bottom: -100vw;
            z-index: 4;
            background-color: rgba($color: #000000, $alpha: 0.35);
        }
        &__inner {
            background-color: white;
            width: 50rem;
            padding: 5.3rem 5rem 4.7rem;
            text-align: center;
            z-index: 12;
            .fields {
                text-align: left;
                .block {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    a {
                        margin-top: 1.3rem;
                        font-size: 1.2rem;
                        color: #84bc22;
                        text-decoration: none;
                    }
                }
                input {
                    width: 100%;
                    padding: 1.15rem 1.6rem;
                    border: 2px solid #d7d7d7;
                    outline: none;
                    font-size: 1.4rem;
                    border-radius: 2.5rem;
                }
                label {
                    margin-top: 1.3rem;
                    font-size: 1.4rem;
                    line-height: 2.6rem;
                    color: #45413e;
                }
            }
            .login-title {
                text-align: center;
                font-weight: 900;
                font-size: 3rem;
                color: #45413e;
                margin-bottom: 3rem;
            }
            .login-in {
                text-transform: uppercase;
                cursor: pointer;
                display: inline-block;
                outline: none;
                border: none;
                background-color: #84bc22;
                font-size: 1.4rem;
                color: white;
                padding: 1.5rem 7.5rem;
                border-radius: 2rem;
                margin-top: 5.3rem;
                margin-bottom: 2.3rem;
            }
            & > a {
                text-decoration: none;
                color: #84bc22;
                display: block;
                font-size: 1.2rem;
            }
        }
    }
}
