.banner {
    position: relative;
    background-image: url("../media/jpg/banner-home.png");
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    &__content {
        padding-top: 3rem;
        padding-bottom: 5rem;
        text-align: center;
        color: white;
        h2 {
            font-size: 3rem;
            font-weight: 900;
        }
        p {
            padding-top: 1.45rem;
            font-size: 1.41rem;
        }
    }
}
@media (min-width: 78rem) {
    .banner {
        min-height: 36.2rem;
        &__content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
@media (min-width: 128rem) {
    .banner {
        min-height: 44.5rem;
        width: 100%;
        &__content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h2 {
                font-size: 4.95rem;
            }
            p {
                font-size: 2.2rem;
            }
        }
    }
}
